<h1>Login</h1>

<%
    if(typeof message !== 'undefined'){
        %>
            <h4 style="color: red;"><%= message %></h4>
        <%
    }
%>

<form action="" method="POST">
    <input type="email" name="email" id="" placeholder="Enter your email" required>
    <br>
    <input type="password" name="password" id="" placeholder="Enter YOur password" required>
    <br>
    <input type="submit" value="Login">

</form>
